<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jobcoin Mixer | Daniel Park</title>

	<link rel="shortcut icon" href="{% static 'media/logos/cm.svg' %}" />


	<link rel="stylesheet" href="{% static 'static/css/mixer_form.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animsition@4.0.2/dist/css/animsition.min.css">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/animsition@4.0.2/dist/js/animsition.min.js"></script>
</head>



<body style="background-color: black; margin: 0" class="animsition">
	<div class="desktop container">



		<!-- START: Header -->
		<a href="{% url 'mixer:index' %}">
			<img src="{% static 'media/logos/cryptomixerlogo.svg' %}" alt="CryptoMixer Logo" class="logo">
		</a>

		<!-- END: Header -->

		<div class="page-header">Submit a mixing request to get started</div>
		<div class="src-field-header">Where will your coins be coming from?</div>
		<div class="dst-field-header">Where would you like your coins to be deposited?</div>


		<!-- <form method="POST" action="{% url 'mixer:create_request' %}"> -->
		<!-- {% csrf_token %} -->

		<input type="text" class="src-field" placeholder="Source Address" name="src" id="src" required>
		<input type="text" class="dst-field-1" placeholder="Destination Address #1" name="dest1" id="dest1" required>

		<button type="submit" class="mixer-button" id='process-button' disabled>Start the process</button>
		<!-- </form> -->





	</div>

	<footer>
		<div class="footer-container">
			<div class="footer-subheader">
				Keep your transfer payments private.
			</div>
			<img src="{% static 'media/logos/cryptomixerlogo.svg' %}" alt="CryptoMixer Logo" class="footer-logo">

			<div class="footer-nav-header ft-head-1">
				Company
			</div>
			<div class="footer-nav-link ft-link-1-1">
				About Us
			</div>
			<div class="footer-nav-link ft-link-1-2">
				Careers
			</div>
			<div class="footer-nav-link ft-link-1-3">
				Support
			</div>
			<div class="footer-nav-link ft-link-1-4">
				Knowledgebase
			</div>


			<div class="footer-nav-header ft-head-2">
				Contact Us
			</div>
			<div class="footer-nav-link ft-link-2-1">
				info@cryptomixer.com
			</div>
			<div class="footer-nav-link ft-link-2-2">
				1-800-100-8000
			</div>
			<div class="footer-nav-link ft-link-2-3">
				600 3rd Ave, New York, NY 10016
			</div>




			<div class="footer-nav-header ft-head-3">
				Stay up to date
			</div>

			<div class="footer-nav-link ft-link-3-1">
				Get word of any updates
			</div>

			<div class="footer-nav-link ft-email">
			</div>
			<div class="ft-email-text">Email</div>
			<img src="{% static 'media/arrow.svg' %}" alt="Send" class="ft-email-arrow">

			<div class="copyright">© Copyright CryptoMixer Inc.</div>
		</div>
	</footer>
</body>

</html>


<script>
	$('#src').on('change keyup', function () {
		if ($('#dest1').val()) {
			$('#process-button').prop('disabled', false);
		}
	})
	$('#dest1').on('change keyup', function () {
		if ($('#src').val()) {
			$('#process-button').prop('disabled', false);
		}
	})

	$('#process-button').on('click', function () {
		var src = $('#src').val();
		var dest1 = $('#dest1').val();

		$.ajax({

			url: '{% url "mixer:create_request_ajax" %}',
			type: "POST",

			data: {
				'src': src,
				'dest1': dest1,
				'csrfmiddlewaretoken': "{{ csrf_token }}"
			},
			dataType: "json",
			success: function (data) {
				if (data.success) {
					swal("Your mixer request has been created. Copy this address to transfer your coins to: \n\n"
						+ data.deposit_address, { title: 'Process Initiated!', icon: 'success', closeOnClickOutside: false, closeOnEsc: false, button: { text: "Sounds good!" } })
						.then((value) => {
							var win = window.open('https://jobcoin.gemini.com/kept-velvet/', '_blank');
							if (win) {
								//Browser has allowed it to be opened
								win.focus();
							} else {
								//Browser has blocked it
								alert('Please allow popups for this website');
							}
							location.reload();
						})
						;



				} else {
					swal("Error", "Unfortunately, an error occured. Try again.", "error");

				}
			},
		})
	})


	$(document).ready(function () {
		$(".animsition").animsition({
			inClass: 'fade-in',
			outClass: 'fade-out',
			inDuration: 1500,
			outDuration: 800,
			linkElement: '.animsition-link',
			// e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
			loading: true,
			loadingParentElement: 'body', //animsition wrapper element
			loadingClass: 'animsition-loading',
			loadingInner: '', // e.g '<img src="loading.svg" />'
			timeout: false,
			timeoutCountdown: 5000,
			onLoadEvent: true,
			browser: ['animation-duration', '-webkit-animation-duration'],
			// "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
			// The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
			overlay: false,
			overlayClass: 'animsition-overlay-slide',
			overlayParentElement: 'body',
			transition: function (url) { window.location.href = url; }
		});
	});
</script>
<style>
	.swal-title {
		font-family: Cabin;
		font-style: normal;
		font-weight: normal;
		font-size: 37px;
		line-height: 50px;

		color: black;

	}

	.swal-text {
		font-family: Cabin;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 23px;

		text-align: center;
		color: rgba(102, 102, 102, .8);
	}
</style>